:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  color: black;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  position: relative;
  height: 100%;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
}

.box {
  --bg-color: blue;
  background-color: var(--bg-color);
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: grab;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  transition: box-shadow 0.2s ease;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  &.dragging {
    cursor: grabbing;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
  }
}

#box2 {
  --bg-color: red;
}

#box3 {
  --bg-color: green;
}

#chart-container {
  pointer-events: none;
  user-select: none;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 20px);
  left: 0;
  right: 0;
  height: 90%;
  /*background-color: yellow;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: -1;
  canvas {
    /*height: 100%;*/
    width: 100%;
    /*background-color: green;*/
  }
}
